/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Básico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

/*-- Layout ----------------------------------------------------------*/
.contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}

.cabecera, .menu, .lateral, .contenido, .contenido .principal, .contenido .secundario, .pie {
  border: 2px solid #777;
}

.cabecera { clear: both; }
.menu { clear: both; }
.lateral { float: left; width: 20%; }
.contenido { float: right; width: 78%; }
.contenido .principal { float: left; width: 78%; }
.contenido .secundario { float: right; width: 20%; }
.pie { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
.cabecera .logo { float: left; }
.cabecera .buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
.menu ul.menu_principal li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
.contenido .principal .articulo img { width: 100px; float: left; }

/*-- Pie de página ---------------------------------------------------*/
.pie .enlaces   { float: left; }
.pie .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aquí, se pueden añadir todos los estilos propios que 
   sean necesarios.
   ================================================================== */
/*Ej03*/
.cabecera {
  padding: 1em;
}
.menu {
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.noticias, .publicidad, .principal, .secundario {
  padding: 0.5em;
}
.pie {
  padding: 0.5em 0; /*Si hubiera padding a los lados anteriormente, esto se lo carga*/
  margin-top: 1em;
}
.articulo {
  margin-bottom: 1em;
}
.articulo img {
  margin: 0.5em;
}
.publicidad {
  margin-top: 1em;
}
.contenido .principal {
  width: 73%;
}
/*BORDES Ej04*/
.cabecera, .menu, .lateral, .contenido, .contenido .principal, .contenido .secundario, .pie {
  border: none;
}
.menu{
  border-bottom: 1px solid #004C99;
}
.noticias{
  border: 1px solid #C5C5C5;
}
.publicidad {
  border: 1px dashed #CC6600;
}
.contenido .secundario{
  border: 1px solid #CC6600;
}

.pie{
  border-top: 1px solid #C5C5C5;
  border-bottom: 1px solid #C5C5C5;
}

/*FONDOS Ej05*/
/*Fondo del body repitiendo una imagen pequeña, por defecto repite en x y en y*/
/*body{
  background: #004C99 url('../img/OptDStripes.png') 0 0;
}*/
.noticias,
.pie{
  background-color: #F8F8F8;
}
.publicidad{
  background-color: #FFF6CD;
}
.secundario h2{
  background-color: #DB905C;
  padding: .2em;
}

.menu {
  background: #004C99 url('../img/fondo_menu.gif') repeat-x 0 0;
}

h1{ /**solo puede haber un h1 asi que no hace falta .cabecera h1*/
  background: #FFF url('../img/logo.gif') no-repeat 0px -10px;
  /**Como se corta verticalmente, lo movemos dentro de la caja -10px*/
}
h1 span{  /*Se esconde el span de h1 que es el que contiene el texto*/
  visibility: hidden;
}

/*Añadir icono en los enlaces de los articulos*/
.articulo a{
  background: #FFF url('../img/sobre.gif') no-repeat 0px 0px;
  padding-left: 25px; /*Se añade espacio para que no se superponga*/
}