.main .well {
	text-align: center;
}

.footer{
	background-color:#222;
	color: #FFF;
	padding: 20px 0;
	margin-top: 20px;
}

.features .glyphicon{
	font-size: 3em;
	color: lightblue;
}
.features [class*="col-"]{
	margin-bottom: 25px;
}


@media (min-width: 768px){
	.main .well {
		text-align: left;
	}

	.footer [class*="col-sm"]{
	min-height: 150px;
}