.wrapper{
	width: 600px;
	margin: 0 auto;
}
.login {
	position: absolute;
	width: 400px;
	height: 250px;

	top: 50%;
	right: 50%;
	
	margin-left: -200px;
	margin-top: -125px;

	border: 1px solid #000;
}